<!DOCTYPE html>
<head>
<title>Lukuvinkkikirjasto</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<h1>Lukuvinkkikirjasto</h1>

{% if session.username %}

<p>Tervetuloa {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a><br>
<a href="/uusivinkki">Lisää lukuvinkki</a><br>
<a href="/kayttajansivu">Omat lukuvinkit</a><br>

{% else %}

<a href="/kirjautuminen">Kirjaudu sisään</a><br>
<a href="/register">Rekisteröi uusi käyttäjä</a>

{% endif %}<br>

{% for vinkki in vinkki_list %}

<a href="{{ vinkki.url }}"><h2>{{ vinkki.nimi }}</h2></a>
<br>
<a href="/hide/{{ vinkki.nimi }}">piilota vinkki</a>
<a href="/delete/{{ vinkki.nimi }}">poista vinkki</a>
<br>
<p>Lisännyt {{ vinkki.tekija }}</p>
<p>____________</p>

{% endfor %}