<!DOCTYPE html>
<title>Lukuvinkkikirjasto</title>
<h1>Lukuvinkkikirjasto</h1>

{% if session.username %}

<p>Tervetuloa {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a><br>
<a href="/uusivinkki">Lisää lukuvinkki</a><br>

{% else %}

<a href="/kirjautuminen">Kirjaudu sisään</a><br>
<a href="/register">Rekisteröi uusi käyttäjä</a>

{% endif %}<br>

{% for vinkki in vinkki_list %}

<p>Lukuvinkin nimi: {{ vinkki.nimi }}</p>
<a href="{{ vinkki.url }}">Lukuvinkin linkki</a>
<a href="/hide/{{ vinkki.id }}">piilota vinkki</a>
<a href="/delete/{{ vinkki.id }}">poista vinkki</a>
<br>
<p>Lisännyt {{ vinkki.tekija }}</p>
<p>____________</p>

{% endfor %}