<!DOCTYPE html>
<title>Lukuvinkkikirjasto</title>
<h1>Lukuvinkkikirjasto</h1>

{% if session.username %}

<p>Tervetuloa {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a><br>
<a href="/uusivinkki">Lisää lukuvinkki</a><br>
<a href="/kayttajansivu">Omat lukuvinkit</a><br>

{% else %}

<a href="/kirjautuminen">Kirjaudu sisään</a><br>
<a href="/register">Rekisteröi uusi käyttäjä</a>

{% endif %}<br>

{% for vinkki in vinkki_list %}

<a href="{{ vinkki.url }}"><h2>{{ vinkki.nimi }}</h2></a>
<p>Lisännyt {{ vinkki.tekija }}</p>
<p>____________</p>

{% endfor %}