
<!DOCTYPE html>

<body onload="toggle_hidden()"></body>
{% extends "ulkoasu.html" %}
{% block head %}
<title>Omat lukuvinkit</title>
{% endblock head %}

{% block content %}
<h1>Omat lukuvinkit</h1>

{% if session.username %}

<button id="vinkki_toggle" onclick="toggle_hidden()">Piilota luetut</button>


{% for vinkki in own_vinkki_list %}


{% if not vinkki.piilotettu %}

{% if vinkki.luettu %}

<div class="luetut_vinkit">
    <div class="card border-dark mb-3" style="width: 40rem; margin-top: 2rem;">
    <a href="{{ vinkki.url }}"><h5 class="card-header">{{ vinkki.nimi }}</h5></a>
    <div class = "card-body">
    <p>Luettu {{ vinkki.paivays.strftime("%d.%m.%Y") }}</p>
    <a href="/mark-unread/{{ vinkki.id }}">Merkitse lukemattomaksi</a>
    <a href="/hide/{{ vinkki.id }}">Poista vinkki</a>
    </div>
    </div>
</div>

{% else %}
<div class="card border-dark mb-3" style="width: 40rem; margin-top: 2rem;">
<a href="{{ vinkki.url }}"><h5 class ="card-header">{{ vinkki.nimi }}</h5></a>
<div class ="card-body">
<a href="/mark-read/{{ vinkki.id }}">Merkitse luetuksi</a>
<a href="/hide/{{ vinkki.id }}">Poista vinkki</a>
</div>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% else %}

<p>Et ole kirjautunut sisään</p>

{% endif %}

<script>
    function toggle_hidden() {
        const elems = document.getElementsByClassName("luetut_vinkit");
        var btn = document.getElementById("vinkki_toggle");
        for (const e of elems) {
        e.style.display = e.style.display === 'none' ? 'block' : 'none';
        }
        
        if (btn.innerText=="Näytä luetut") {
            btn.innerText = "Piilota luetut";
        }
        else {
            btn.innerText = "Näytä luetut";
        }
    }
</script>
{% endblock content %}


