
<!DOCTYPE html>
<body onload="toggle_hidden()"></body>
<title>Omat lukuvinkit</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<h1>Omat lukuvinkit</h1>
<p>Omat lukuvinkit</p>

{% if session.username %}

<button id="vinkki_toggle" onclick="toggle_hidden()">Piilota luetut</button>

{% for vinkki in own_vinkki_list %}
{% if not vinkki.piilotettu %}

{% if vinkki.luettu %}
<div class="luetut_vinkit">
    <a href="{{ vinkki.url }}"><h2>{{ vinkki.nimi }}</h2></a>
    <p>Luettu {{ vinkki.paivays.strftime("%d.%m.%Y") }}</p>
    <a href="/mark-unread/{{ vinkki.id }}">Merkitse lukemattomaksi</a>
    <br>
    <a href="/hide/{{ vinkki.id }}">Poista vinkki</a>
    <br>
    <p>__________</p>
</div>

{% else %}
<a href="{{ vinkki.url }}"><h2>{{ vinkki.nimi }}</h2></a>
<a href="/mark-read/{{ vinkki.id }}">Merkitse luetuksi</a>
<br>
<a href="/hide/{{ vinkki.id }}">Poista vinkki</a>
<br>
<p>__________</p>
{% endif %}
{% endif %}
{% endfor %}

{% else %}

<p>Et ole kirjautunut sisään</p>

{% endif %}

<a href="/">Takaisin</a><br>


<script>
function toggle_hidden() {
    const elems = document.getElementsByClassName("luetut_vinkit");
    var btn = document.getElementById("vinkki_toggle");
    for (const e of elems) {
    e.style.display = e.style.display === 'none' ? 'block' : 'none';
    }
    
    if (btn.innerText=="Näytä luetut") {
        btn.innerText = "Piilota luetut";
    }
    else {
        btn.innerText = "Näytä luetut";
    }
}
</script>