<!DOCTYPE html>

{% block head %}<title>Lukuvinkkikirjasto kirjautuminen</title>{% endblock head %}


{% extends "ulkoasu.html" %}
{% block content %}
<div class="card border-dark mb-3" style="width: 40rem; margin-top: 2rem;">

{% if session.username %}
<h5 class = "card-header">Tervetuloa {{ session.username }}</h5>
<form action="/logout">
<button class="btn btn-primary" href="/logout">Kirjaudu ulos</button>
</form>
{% else %}
<h5 class = "card-header">Kirjaudu sisään</h5>
<form action="/login" class ="card-body" method="POST">
<div class="mb-3">
<label for="username" class="form-label">Käyttäjänimi</label>
<input type="text" class="form-control" name="username" id="username">
</div>
<div class="mb-3">
<label for="password" class="form-label">Salasana</label>
<input type="password" class="form-control" name="password" id="password">
</div>
<button type="submit" class="btn btn-primary">Kirjaudu</button>
</form>
{% endif %}
</div>

{% endblock content %}   