<!DOCTYPE html>
{% extends "ulkoasu.html" %}
{% block head %}<title>Kirjaudu sisään</title>{% endblock %}

{% block content %}

{% if session.username %}
<p>Tervetuloa {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Käyttäjänimi:</p>
<br>
<input type="text" name="username" id="username"></p>
<p>Salasana:</p>
<br>
<input type="password" name="password" id="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
{% endblock content %}