<!DOCTYPE html>
{% block head %}<title>Lukuvinkkikirjasto rekisteröityminen</title>{% endblock %}

{% extends "ulkoasu.html" %}

{% block content %}

<div>
    <form action="/donewuser" method="POST">
        <p>Rekisteröidy uudeksi käyttäjäksi</p>
        <p>Tunnus:<br>
            <input type="text" name="username" id="username" minlength="3" required></p>
            <p>Salasana:<br>
            <input type="password" name="password" id="password" minlength="3" required></p>
            <input type="submit" value="Tee Käyttäjä">
        </form>
</div>
{% endblock content %}