<!DOCTYPE html>
{% extends "ulkoasu.html" %}
{% block head %}<title>Lisää lukuvinkki</title>{% endblock %}
{% block content %}

<div class="card border-dark mb-3" style="width: 40rem; margin-top: 2rem;">

{% if session.username %}
<h5 class = "card-header">Lisää lukuvinkki</h5>
<form action="/lisaavinkki" class ="card-body" method="POST">
<div class="mb-3">
<label for="nimi" class="form-label">Lukuvinkin otsikko</label>
<input type="text" class ="form-control" name="nimi">
</div>
<div class="mb-3">
<label for="url" class="form-label">Linkki lukuvinkkiin</label>
<input type="text" class ="form-control" name="url">
</div>
<button type="submit" class="btn btn-primary">Tallenna</button>
</form>

<form action="/" class ="card-body">
<button type="submit" class="btn btn-primary">Peruuta</button>
</form>
</div>
{% endif %}
{% endblock content %}