name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Start PostgreSQL on Ubuntu
        run: |
          sudo systemctl start postgresql.service
          pg_isready
      - name: Create tester user
        run: |
          sudo -u postgres psql --command="CREATE USER tester PASSWORD 'T0lk13n'" --command="\du"
      - name: Create testingtable database
        run: |
          sudo -u postgres createdb --owner=tester testingtable
          PGPASSWORD=T0lk13n psql --username=tester --host=localhost --list testingtable
      - name: Create tables from schema
        run: |
          sudo -u postgres psql < src/schema.sql
      - name: Run tests
        run: poetry run coverage run --branch -m pytest
      - name: Coverage report
        run: poetry run coverage xml
      - name: Coverage report to Codecov
        run: bash <(curl -s https://codecov.io/bash)
      - name: Analysing the code with pylint
        run: poetry run pylint src
      - name: Run robot tests
        run: bash run_robot_tests.sh
        env:
          DATABASE_URL: postgresql://localhost/testingtable?user=tester&password=T0lk13n

